#title{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 6vmax;
  background-color: #04111e;
  text-align: center;
}

#mv{
  font-family: 'Alfa Slab One',  cursive;
  font-size: 4vw;
  line-height: 6vmax;
  margin: 0px;
  margin-top: 0px;
  color: #04111e;
  text-shadow: -4px 0 rgb(75, 192, 192), 0 1px rgb(75, 192, 192), 1px 0 rgb(75, 192, 192), 0 -1px rgb(75, 192, 192);
  margin-right: 7%;
}

#table{
  margin-top: 6vmax;
}

#logo{
  position: relative;
  float: left;
  width: 5%;
  height: 100%;
  margin-left: 2%;
}

table, th, td {
  border: 1px solid white;
  text-align: center;
  color: rgb(75, 192, 192);
  font-family: arial;
  font-size: 20px;
}

#graphs{
  background-color: black;
  margin: 0;
}
#graph1{
  float: left;
  width: 50%;
  overflow: hidden;
}
#graph2{
  float: left;
  width: 50%;
  overflow: hidden;
}
body{
  background-color: #04111e;
}
